// Large devices (desktops, 991px and low)
@media (max-width: 992px) {
	.header {
		justify-content: space-around;
	}
	.promo__wrapper {
		padding: 0 20px 0 0;
		right: 30px;
	}
	.advantages__icons {
		max-width: 950px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.consultation {
		&__wrapper {
			padding: 0 50px;
		}
	}
	.catalog {
		padding: 0 25px;
	}
	.review__wrapper {
		position: relative;
		padding: 100px 25px 0 25px;
	}
	.footer__info {
		width: 340px;
		line-height: 20px;
		padding: 40px 38px 30px 38px;
	}
}

// Medium devices (tablets, 767px and low)
@media (max-width: 768px) {
	.header {
		padding: 0 25px 0 25px;
		justify-content: space-around;
		&__official {
			padding: 0 10px 0 10px;
			font-size: 11px;
			span {
				font-size: 15px;
			}
		}
		&__phone {
			font-size: 15px;
		}
	}
	.promo {
		&__header {
			font-size: 25px;
		}
		&__subheader {
			font-size: 20px;
			margin-top: 3px;
		}
		&__icons {
			margin-top: 39px;
			width: 370px;
		}
	}
	.title {
		font-size: 27px;
	}
	.advantages {
		&__icons {
			margin-top: 38px;
		}
		&__icon {
			margin-top: 20px;
		}
	}
	.carousel {
		padding: 81px 55px 82px 55px;
		img {
			width: 650px;
		}
	}
	.catalog__content_active {
		justify-content: center;
	}
	.footer {
		&__info {
			top: auto;
			bottom: 0%;
			height: 200px;
			line-height: 20px;
			padding: 20px 18px 10px 18px;
		}
		&__address {
			margin-bottom: 10px;
		}
	}
}

// Small devices (landscape phones, 576px and low)
@media (max-width: 576px) {
	.header {
		padding: 0 15px 0 15px;
		&__official_320 {
			display: none;
		}
		&__phone {
			font-size: 13px;
		}
		&__logo {
			img {
				margin-top: 10px;
				width: 90%;
			}
		}
	}
	.button {
		width: 130px;
		height: 27px;
		font-size: 10px;
		&_main {
			width: 200px;
			height: 35px;
			font-size: 12px;
		}
		&_submit {
			width: 100%;
			height: 55px;
			font-size: 16px;
		}
	}
	.promo {
		min-height: 590px;
		&__header {
			font-size: 17px;
			line-height: 20px;
		}
		&__subheader {
			font-size: 13px;
		}
		&__link {
			font-size: 14px;
		}
		&__icons {
			width: max-content;
		}
		&__icon {
			width: 93px;
			font-size: 12px;
			img {
				height: 30%;
			}
		}
	}
	.consultation {
		padding: 60px 0 0px 0;
		min-height: 640px;
		&__wrapper {
			padding: 0 30px;
		}
		&__descr {
			font-size: 16px;
		}
		.feed-form {
			width: 260px;
		}
		.title {
			&_left {
				font-size: 25px;
			}
		}
	}
	.carousel {
		padding: 81px 55px 82px 55px;
		img {
			width: 226px;
		}
	}
	.catalog {
		&__tabs {
			flex-wrap: wrap;
		}
		&__tab {
			margin-bottom: 20px;
		}
	}
	.review {
		padding: 20px 20px 32px 20px;
		&__wrapper {
			padding: 81px 5px 82px 5px;
		}
		&__item {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__round {
			margin-bottom: 20px;
			margin-left: 60px;
		}
	}
	.footer {
		&__info {
			width: 320px;
		}
		&__phone {
			margin-bottom: 20px;
		}
	}
}
